<a href="https://colab.research.google.com/github/pnggkkm/Python-Programming/blob/main/classes_and_objects_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def deposit(amt):
  balance=amt
  print(balance)

deposit(100)

100

In [ ]:
class Account:
  def deposit(self,amt):
    self.balance=amt
    print(self.balance)

c1= Account()
c1.deposit(2000)

2000

In [ ]:
class Account:
  def deposit(self,amt):
    self.balance=amt
    print(self.balance)

c1= Account()
c1.deposit(500)
c2=Account()
c2.deposit(1000)

500
1000

In [ ]:
class Account:
  def deposit(self,amt):
    self.balance=amt
    print(self.balance)

c1= Account()
c1.deposit(500)
c2=Account()
c2.deposit(1000)
print(c1.balance)
print(c2.balance)

500
1000
500
1000

**class or static variables**

**Class variables or Static variables are common to all the instances of the class**

**Class variables or static variables can be accesses with the class name**

In [ ]:
class Account:
  balance=5000

print(Account.balance)

5000

class or static variables can also be accessed with the instances(objects)

In [ ]:
class Account:
  IFSCCODE="kvbl00128"
  BRANCH="KVBMAINDGL"

c1=Account()
c2=Account()
print(c1.IFSCCODE)
print(c2.IFSCCODE)
print(c1.BRANCH)
print(c2.BRANCH)

kvbl00128
kvbl00128
KVBMAINDGL
KVBMAINDGL

In [ ]:
class Account:
  balance=1000

c1=Account()
c2=Account()
print(c1.balance)
print(c2.balance)
c1.balance=5000
print(c1.balance)
print(c2.balance)

1000
1000
5000
1000

In [ ]:
class Account:
  balance=1000

c1=Account()
c2=Account()
print(c1.balance)
print(c2.balance)
c1.balance=5000
print(c1.balance)
print(c2.balance)
c3=Account()
print(c3.balance)

1000
1000
5000
1000
1000

All classes have a function called init(), which is always executed when the class is being initiated.

class is Initiated - it means an object is created

it can be used for initializing the values

In [ ]:
class customer:
  def __init__(self,amt):
    self.balance=amt

c1=customer(1000)
c2=customer(2000)
print(c1.balance)
print(c2.balance)

1000
2000

In [ ]:
class demo:
  def __init__(self):
    print("Constructor is called")

  def display(self):
    print("Hello")

d1=demo()
d2=demo()
d3=demo()
z=demo()

Constructor is called
Constructor is called
Constructor is called
Constructor is called

**init function is called as the constructor**

**Adding Functions to the classes**

In [ ]:
class customer:
  def __init__(self,amt):
    self.balance=amt

  def withdraw(self,amount):
    self.balance=self.balance-amount

c1=customer(1000)
c2=customer(2000)
print(c1.balance)
print(c2.balance)
c1.withdraw(500)
c2.withdraw(600)
print(c1.balance)
print(c2.balance)

1000
2000
500
1400

In [ ]:
class customer:
  def __init__(self,amt):
    self.balance=amt

  def withdraw(self,amount):
    self.balance=self.balance-amount

  def display_balance(self):
    print(self.balance)

c1=customer(1000)
c2=customer(2000)
c1.display_balance()
c2.display_balance()
c1.withdraw(500)
c2.withdraw(600)
c1.display_balance()
c2.display_balance()

1000
2000
500
1400

In [ ]:
class Employee:
    def __init__(self, n, s):
        self.name = n
        self.salary = s


    def display_salary(self):
        print(f"{self.name}'s salary is {self.salary}")

# Create employee objects
employee1 = Employee("ABC", 50000)
employee2 = Employee("XYZ", 60000)

# Display their salaries
employee1.display_salary()
employee2.display_salary()

ABC's salary is 50000
XYZ's salary is 60000

In [ ]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def calculate_salary(self,hoursworked):
        self.salary=hoursworked*500

    def display_salary(self):
        print(f"{self.name}'s salary is {self.salary}")

# Create employee objects
employee1 = Employee("ABC", 0)
employee2 = Employee("XYZ", 0)

employee1.calculate_salary(48)
employee2.calculate_salary(46)
# Display their salaries
employee1.display_salary()
employee2.display_salary()

ABC's salary is 24000
XYZ's salary is 23000

**del()**

In [ ]:
class customer:
  def __init__(self):
    print("Customer Created")

  def __del__(self):
    print("Customer Deleted")

c1=customer()
c2=customer()
c3=customer()
del c1
del c2
del c3

Customer Created
Customer Created
Customer Created
Customer Deleted
Customer Deleted
Customer Deleted

In [ ]:
class customer:
  def __init__(self):
    print("Customer Created")

  def __del__(self):
    print("Customer Deleted")

def createobject():
  cust1 = customer()



createobject()

Customer Created
Customer Deleted