<a href="https://colab.research.google.com/github/pnggkkm/Python-Programming/blob/main/sets_and_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Sets**
unordered
Mutable
values are unique

In [ ]:
s={10,20,30,40,50,60,70}

In [ ]:
print(s)

{50, 20, 70, 40, 10, 60, 30}

**Python sets cannot be accessed with an index**

In [ ]:
print(s[0])

TypeError: 'set' object is not subscriptable

**sets can contain any elements**

In [ ]:
student={"student1",1,87.5,8.9}

In [ ]:
print(student)

{8.9, 1, 'student1', 87.5}

**Set has only unique Values**

In [ ]:
s1={10,20,30,40,50,60,10,20,30}

In [ ]:
print(s1)

{50, 20, 40, 10, 60, 30}

**set can be used for removing duplicate in the list or tuple**

In [ ]:
l=[10,30,60,70,80,30,10]

In [ ]:
print(l)

[10, 30, 60, 70, 80, 30, 10]

In [ ]:
conl = set(l)

In [ ]:
conl

{10, 30, 60, 70, 80}

In [ ]:
l=list(conl)

In [ ]:
print(l)

[70, 10, 80, 60, 30]

**set functions**

**add()**

In [ ]:
companies={"hero","honda","suzuki","ampere"}

In [ ]:
companies.add("bajaj")

In [ ]:
print(companies)

{'bajaj', 'honda', 'suzuki', 'ampere', 'hero'}

**clear()**

In [ ]:
companies.clear()

In [ ]:
print(companies)

set()

**copy()**

In [ ]:
companies = {"Hero", "Honda", "Bajaj"}
x = companies.copy()
print(x)
x.add("Ampere")
print(x)
print(companies)

{'Honda', 'Hero', 'Bajaj'}
{'Ampere', 'Honda', 'Hero', 'Bajaj'}
{'Honda', 'Hero', 'Bajaj'}

**difference()**

In [ ]:
x = {"Hero", "Honda", "Suzuki"}
y = {"Ampere", "Ola", "Hero", "Suzuki"}

z = x.difference(y)

print(z)

{'Honda'}

In [ ]:
type(z)

set

**difference_update()**

In [ ]:
x = {"Hero", "Honda", "Suzuki"}
y = {"Ampere", "Ola", "Hero"}

x.difference_update(y)

print(x)

{'Suzuki', 'Honda'}

**discard()**

In [ ]:
y={'Hero', 'Ola', 'Ampere'}
print(y)

{'Ampere', 'Hero', 'Ola'}

In [ ]:
y.discard("Ampere")

In [ ]:
print(y)

{'Hero', 'Ola'}

**intersection()**

In [ ]:
set1 = {10,20,50,70,90}
set2 = {30,40,50,60,70,90}

set3=set1.intersection(set2)
print(set3)

{50, 90, 70}

**update()**

In [ ]:
set1={1,2,3}
set2={4,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

**union()**

In [ ]:
companies = {"Hero", "Honda", "Bajaj"}
companies1 = {"Mahindra", "Maruti", "Tata","Bajaj"}

allcompanies = companies.union(companies1)

print(allcompanies)

{'Mahindra', 'Bajaj', 'Tata', 'Hero', 'Honda', 'Maruti'}

**remove()**

In [ ]:
allcompanies.remove("Honda")

In [ ]:
print(allcompanies)

{'Mahindra', 'Hero', 'Tata', 'Bajaj', 'Maruti'}

**difference between remove() and discard()**

In [ ]:
print(allcompanies)

{'Mahindra', 'Bajaj', 'Tata', 'Hero', 'Honda', 'Maruti'}

In [ ]:
allcompanies.remove("Ampere")

KeyError: 'Ampere'

In [ ]:
allcompanies.discard("Ampere")

In [ ]:
print(allcompanies)

{'Mahindra', 'Hero', 'Tata', 'Bajaj', 'Maruti'}

**pop()**

In [ ]:
c1 = allcompanies.pop()

In [ ]:
print(c1)

Mahindra

In [ ]:
print(allcompanies)

{'Hero', 'Tata', 'Bajaj', 'Maruti'}

**issubset()**

In [ ]:
x = {1,2,3,4}
y = {1,2,3,5,6,7,8,9,10,11,12}

z = x.issubset(y)

print(z)

False

In [ ]:
x = {1,2,3,4}
y = {1,2,3,5,6,7,8,9,10,11,12}

z = x.issubset(y)

print(z)

False

**issuperset()**

In [ ]:
x = {1,2,3,4}
y = {1,2,3,4,5,6,7,8,9,10,11,12}

z = y.issuperset(x)

print(z)

True

In [ ]:
x = {1,2,3,4}
y = {1,2,3,5,6,7,8,9,10,11,12}


z = y.issuperset(x)

print(z)

False

**Dictionaries**

1. Dictionaries are mutable
2. Dictionaries are Dynamic
3. it is in the form of Key:value
4. The Dictionary elements can be accesses via "Key"

**Defining a dictionary**

In [ ]:
student1 = {"Name":"xyz","Roll No":25, "CGPA": 7.6, "Attendance":89}

In [ ]:
print(student1)

{'Name': 'xyz', 'Roll No': 25, 'CGPA': 7.6, 'Attendance': 89}

In [ ]:
print(student1.keys())

dict_keys(['Name', 'Roll No', 'CGPA', 'Attendance'])

In [ ]:
print(student1.values())

dict_values(['xyz', 25, 7.6, 89])

In [ ]:
student1["CGPA"]

7.6

**Adding Values to the Dictionary**

In [ ]:
student1["semester"]=3

In [ ]:
print(student1)

{'Name': 'xyz', 'Roll No': 25, 'CGPA': 7.6, 'Attendance': 89, 'year': 'Third', 'semester': 3}

**Dictionary Methods**

**pop()**

In [ ]:
print(student1)

{'Name': 'xyz', 'Roll No': 25, 'CGPA': 7.6, 'Attendance': 89, 'year': 'Third'}

In [ ]:
student1.pop("year")

'Third'

In [ ]:
print(student1)

{'Name': 'xyz', 'Roll No': 25, 'CGPA': 7.6, 'Attendance': 89, 'semester': 3}

**popitem()**

In [ ]:
student1.popitem()

('semester', 3)

In [ ]:
print(student1)

{'Name': 'xyz', 'Roll No': 25, 'CGPA': 7.6, 'Attendance': 89}

update()

In [ ]:
student1.update({"year":2})

In [ ]:
print(student1)

{'Name': 'xyz', 'Roll No': 25, 'CGPA': 7.6, 'Attendance': 89, 'year': 2}

In [ ]:
student1.update({"semester":3,"branch":"IT", "college":"ABC"})

In [ ]:
print(student1)

{'Name': 'xyz', 'Roll No': 25, 'CGPA': 7.6, 'Attendance': 89, 'year': 2, 'semester': 3, 'branch': 'IT', 'college': 'ABC'}

In [ ]:
student1["marks"]=[70,80,80]

In [ ]:
print(student1)

{'Name': 'xyz', 'Roll No': 25, 'CGPA': 7.6, 'Attendance': 89, 'year': 2, 'semester': 3, 'branch': 'IT', 'college': 'ABC', 'marks': [70, 80, 80]}

In [ ]:
l=[[1,2,4],[5,6,7]]

In [ ]:
l=[("one",1),("two",2),("three",3)]
d=dict(l)
print(d)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
l1=[1,2,3,4]
l=("one","two","three","four")
d=zip(l1,l)
print(dict(d))

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

**items()**

In [ ]:
student1.items()

dict_items([('Name', 'xyz'), ('Roll No', 25), ('CGPA', 7.6), ('year', 2), ('semester', 3), ('branch', 'IT')])

**get()**

In [ ]:
x=student1.get("Roll No")
print(x)

25